.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    rgb(255, 58, 88) 10%,
    rgb(255, 207, 213) 95%
  );
  color: rgb(178, 255, 255);
}

.infoContainer {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading {
  margin: 0;
  align-self: flex-start;
  text-align: left;
}

.exHeading {
  width: fit-content;
  padding-bottom: 0.3%;
  margin: 0;
}

.description {
  margin: 0;
  margin-top: 1%;
  font-style: italic;
}

.experience {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(255, 38, 70);
  padding-right: 10vw;
}

.items {
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.resumeItem {
  margin: 1%;
}

.bar1 {
  height: 2vh;
  width: 10vw;
  background-color: aqua;
  border-radius: 2em;
}

.tables {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.section-wrapper {
  width: 30vw;
  float: left;
  text-align: left;
  color: rgb(178, 255, 255);
  font-weight: 300;
  margin: 2%;
}

.section-wrapper h3.section-title {
  color: aqua;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 400;
}
.section-wrapper .skill-percentage {
  margin-bottom: 10px;
  position: relative;
}
.section-wrapper .skill-percentage::after {
  content: "";
  width: 100%;
  height: 6px;
  background: rgb(59, 59, 59);
  display: block;
  margin-top: 3px;
}
.section-wrapper .skill-percentage::before {
  content: "";
  height: 6px;
  background: rgb(178, 255, 255);
  position: absolute;
  margin-top: 3px;
  bottom: 0;
}
.section-wrapper .skill-percentage:nth-child(1)::before {
  width: 90%;
  -webkit-animation: skill_1 0.6s ease;
  animation: skill_1 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(2)::before {
  width: 95%;
  -webkit-animation: skill_2 0.6s ease;
  animation: skill_2 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(3)::before {
  width: 92%;
  -webkit-animation: skill_3 0.6s ease;
  animation: skill_3 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(4)::before {
  width: 90%;
  -webkit-animation: skill_4 0.6s ease;
  animation: skill_4 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(5)::before {
  width: 99%;
  -webkit-animation: skill_5 0.6s ease;
  animation: skill_5 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(6)::before {
  width: 96%;
  -webkit-animation: skill_6 0.6s ease;
  animation: skill_6 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(7)::before {
  width: 70%;
  -webkit-animation: skill_6 0.6s ease;
  animation: skill_6 0.6s ease;
}
