.about {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 80vh;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  border-radius: 2rem;
}
