.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 8%;
  margin-top: 0;
  background-color: rgb(255, 38, 70);
  box-shadow: 0 0 1em 0.5em rgb(255, 38, 70);
}

.link {
  color: rgb(178, 255, 255);
  text-decoration: none;
  display: inline;
  padding: 2rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.link:hover {
  color: rgb(102, 110, 255);
}

/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: rgb(178, 255, 255);
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: rgb(178, 255, 255);
  border: 2px solid rgb(178, 255, 255);
}

.socials {
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}
