.github {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: auto;
  color: aliceblue;
}

.item {
  height: 5vh;
  width: auto;
  margin-left: 2rem;
}

.item:hover {
  color: rgb(102, 110, 255);
}
